:root {
  /* Paleta de colores */
  --ColorClaro: #f7f4ef;
  --ColorNaranja: #ff4a3c;
  --ColorObscuro: #020100;
  --ColorGris: #d9d9d9;
  --ColorGrisObscuro: #3b3e43;
}

/* Fuentes */

@font-face {
  font-family: "Gwyner";
  src: url("./fonts/Gwyner-Regular.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: 0;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  transition: 0.2s;
}

body {
  background-color: var(--ColorClaro);
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Styles para el header */

header {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 80px;
  background-color: var(--ColorClaro);
  z-index: 1;
}

.header-left {
  display: flex;
  margin-left: 30px;
}

.menu {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 28px;
  height: 28px;
  cursor: pointer;
  transition: 0.2s;
}

.menu .menu__component {
  width: 10px;
  height: 10px;
  background-color: var(--ColorObscuro);
  border-radius: 3px;
  margin: 1px;
  transition: 0.2s;
}

.menu:hover .menu__component {
  width: 11px;
  height: 11px;
  transition: 0.2s;
}

.logo-header {
  text-decoration: none;
  display: flex;
  align-items: flex-end;
}

.logo-header__img {
  width: 34px;
  margin: 0 10px;
}

.logo-header__text {
  color: var(--ColorObscuro);
  font-family: "Gwyner";
}

.logo-header__text span {
  color: var(--ColorNaranja);
}

.nav-header-center {
  display: none;
}

.nav-header-center ul {
  display: flex;
  align-items: center;
}

.nav-header-center ul li {
  margin: 0 10px;
}

.nav-header-center ul li a {
  color: var(--ColorObscuro);
  font-weight: 100;
  transition: 0.2s;
}

.nav-header-center ul li a:hover {
  color: var(--ColorNaranja);
  transition: 0.2s;
}

.nav-header-rigth {
  margin-right: 30px;
}

.nav-header__list {
  display: flex;
}

.nav-header__list__item {
  list-style: none;
}

.nav-header__list__item a {
  text-decoration: none;
}

.nav-header__list__item ion-icon {
  font-size: 26px;
  margin-right: 10px;
  color: var(--ColorObscuro);
  transition: 0.2s;
}

.nav-header__list__item ion-icon:hover {
  color: var(--ColorNaranja);
  cursor: pointer;
  transition: 0.2s;
}

/* Estilos para el aside */

.aside-left-cerrado {
  position: fixed;
  text-align: center;
  top: 0;
  left: -120%;
  width: 100%;
  height: 100%;
  background-color: var(--ColorClaro);
  border-right: 1px solid var(--ColorGrisObscuro);
  transition: 0.5s;
  z-index: 1;
}

.aside-left-abierto {
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  text-align: center;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--ColorClaro);
  border-right: 1px solid var(--ColorGrisObscuro);
  transition: 0.5s;
  z-index: 1;
}

[class^="aside-left"] .nav-header__list {
  display: inline;
}

.separador-aside {
  height: 2px;
  width: 200px;
  background-color: var(--ColorGris);
}

.aside-left-cerrado section,
.aside-left-abierto section {
  margin: 15px 0;
}

.aside-left-cerrado section a,
.aside-left-abierto section a {
  display: flex;
  margin: 20px 0;
  font-weight: 100;
  color: var(--ColorGrisObscuro);
  transition: 0.2s;
}

.aside-left-cerrado section a:hover,
.aside-left-abierto section a:hover {
  color: var(--ColorNaranja);
  transition: 0.2s;
}

.aside-left-cerrado section a ion-icon,
.aside-left-abierto section a ion-icon {
  color: var(--ColorNaranja);
  margin-right: 10px;
  font-size: 20px;
}

.logo-aside .menu {
  position: absolute;
  left: 0;
  margin-left: 30px;
}

.logo-aside {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.social .social-div {
  display: flex;
  height: 50px;
  margin-right: 60%;
}

.social .social-div ion-icon {
  font-size: 24px;
  color: var(--ColorGrisObscuro);
  transition: 0.2s;
}

.social .social-div ion-icon:hover {
  color: var(--ColorNaranja);
  transition: 0.2s;
}

.about {
  display: none;
}

.separador-aside:nth-of-type(3) {
  display: none;
}

.derechos {
  font-size: 0.8rem;
}

/* Estilos para aside login/registrer */

.login-registrer-oculto * {
  position: fixed;
  display: flex;
  flex-direction: column;
  text-align: center;
  top: -100vw;
  width: 0%;
  height: 0%;
  background-color: var(--ColorClaro);
}

.login-registrer-visible {
  position: fixed;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  right: 0;
  width: 100vw;
  height: 100%;
  background-color: var(--ColorClaro);
  z-index: 1;
}

.cerrarLogin {
  position: absolute;
  top: 30px;
  right: 30px;
  font-size: 26px;
}

.cerrarLogin:hover {
  color: var(--ColorNaranja);
}

.login-registrer__title {
  margin-bottom: 30px;
  font-size: 1.6rem;
}

.login-registrer__form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.login-registrer__form label {
  display: flex;
  flex-direction: column;
  margin: 20px 0;
}

.login-registrer__form label span {
  margin-bottom: 20px;
}

.login-registrer__form label input {
  width: 200px;
  height: 40px;
  padding: 0 5px;
  background-color: var(--ColorGris);
  color: var(--ColorClaro);
  border-radius: 5px;
  border: 1px solid var(--ColorGris);
}

.login-registrer__form label input:hover {
  box-shadow: 0px 0px 4px var(--ColorGrisObscuro);
}

.login-registrer__form label input:focus {
  color: var(--ColorGrisObscuro);
  background-color: var(--ColorGris);
}

.login-registrer__form button {
  margin: 20px;
  height: 40px;
  width: 150px;
  background-color: var(--ColorNaranja);
  color: var(--ColorClaro);
  border-radius: 5px;
  border: none;
}

.login-registrer__form button:hover {
  background-color: #fc291a;
}

.registro {
  color: var(--ColorGrisObscuro);
  text-decoration: none;
  font-size: 14px;
}

.registro span {
  color: var(--ColorNaranja);
  text-decoration: underline;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Estilos para las sección de presentación */

.presentacion {
  display: flex;
  height: 85vh;
}

.presentacion article {
  position: relative;
  top: 80px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.presentacion__title {
  font-size: 4rem;
  font-family: "Gwyner";
  color: var(--ColorObscuro);
  margin-bottom: 10px;
}

.presentacion__title span {
  font-family: "Gwyner";
  color: var(--ColorNaranja);
}

.presentacion__subTitle {
  color: var(--ColorGrisObscuro);
  margin-bottom: 20px;
  font-family: "Gwyner";
  font-size: 1rem;
  font-weight: 100;
  letter-spacing: 0.9em;
}

.separador__presentacion {
  width: 280px;
  height: 4px;
  background-color: var(--ColorGris);
  margin-bottom: 20px;
}

.presentacion__text {
  text-align: center;
  color: var(--ColorGrisObscuro);
  font-size: 1rem;
  line-height: 200%;
  margin-bottom: 40px;
}

.btn-presentacion {
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  color: var(--ColorClaro);
  height: 50px;
  width: 180px;
  background-color: var(--ColorNaranja);
  border-radius: 5px;
}

.btn-presentacion:hover {
  background-color: #fc291a;
  box-shadow: 0px 0px 18px var(--ColorGris);
}

.presentacion__image {
  display: none;
}

/* Estilos para la seccion categorias */

.categorias {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 100vw;
  background-color: #fff;
}

.categorias .title {
  margin: 70px 0;
  display: flex;
  align-items: center;
}

.separador__categoria {
  width: 30px;
  height: 3px;
  background-color: var(--ColorGris);
  margin: 0 20px;
}

.separador__categoria__title {
  font-size: 1rem;
}

.categorias__contenedor-componentes {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-bottom: 60px;
}

.conponent-categoria {
  width: 100%;
  height: 230px;
  text-decoration: none;
}

#casual {
  background-image: url("../assets/img/casual.jpg");
  background-position: 0 -270px;
  background-size: cover;
}

#formal {
  background-image: url("../assets/img/elegante.jpg");
  background-position: 0 -200px;
  background-size: cover;
}

#deportivo {
  background-image: url("../assets/img/deportivo.jpg");
  background-position: 0 -150px;
  background-size: cover;
}

.conponent-categoria__gradient {
  height: 70%;
  background: linear-gradient(
    180.24deg,
    #1e1e1ef6 38.59%,
    rgba(30, 30, 30, 0) 99.79%
  );
}

.conponent-categoria:hover .conponent-categoria__text {
  color: var(--ColorNaranja);
}

.conponent-categoria__text {
  color: var(--ColorClaro);
  padding-top: 20px;
}

/* Estilos para la seccion productos */

.productos {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.productos__article {
  margin: 50px 20px;
}

.productos__title {
  font-weight: 600;
}

.productos__text {
  margin-top: 20px;
  line-height: 200%;
  font-weight: 400;
}

.separador__productos {
  width: 80vw;
  height: 4px;
  background-color: var(--ColorGris);
}

.productos__component {
  margin: 40px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.porductos__component__colum {
  display: flex;
}

.productos__item {
  margin: 10px 10px;
  width: 150px;
  height: 150px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.productos__item img {
  width: 80px;
  margin-bottom: 20px;
}

.productos__item p {
  line-height: 200%;
}

/* Estilos para la seccion conocenos */

.conocenos {
  background-image: url("../assets/img/Background__Conocénos.png");
  background-size: cover;
  color: var(--ColorClaro);
  text-align: center;
  width: 100vw;
  margin-bottom: 70px;
}

.conocenos__gradient {
  background: rgba(2, 1, 0, 0.74);
  backdrop-filter: blur(4px);
  width: 100vw;
}

.conocenos__article {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 50px 10px;
}

.conocenos__article h1 {
  font-weight: 600;
}

.conocenos__logo {
  width: 220px;
  margin: 20px 0;
}

.conocenos__article p {
  width: 310px;
  font-weight: 400;
  line-height: 200%;
  margin: 0 auto;
}

.conocenos__social {
  margin: 20px 0;
}

.conocenos__social a {
  text-decoration: none;
  margin: 20px;
}

.conocenos__social img {
  width: 50px;
}

.conocenos__social img:hover {
  width: 46px;
  padding: 2px;
}

/* Estilos para el footer */
footer {
  width: 100%;
}

.footer__information {
  padding: 30px 30px 0px 30px;
  background-color: var(--ColorGrisObscuro);
  display: flex;
  flex-direction: column;
  align-items: center;
  color: var(--ColorClaro);
}

.footer__logo {
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer__logo img {
  width: 150px;
}

.footer__social {
  display: flex;
  justify-content: center;
}

.footer__social a {
  text-decoration: none;
}

.footer__social img {
  width: 25px;
  margin: 5px;
}

.footer__separador {
  width: 80vw;
  height: 4px;
  background-color: var(--ColorClaro);
  margin: 30px 0;
}

.footer__nav {
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer__nav ul {
  list-style: none;
  margin: 0 15px;
}

.footer__nav li {
  font-weight: 600;
  margin: 10px 0;
}

.footer__nav li a {
  text-decoration: none;
  color: var(--ColorClaro);
}

.footer__nav a:hover {
  color: var(--ColorGris);
}

.developer {
  text-align: center;
  margin: 20px 0;
}

.developer p b {
  font-weight: 600;
  line-height: 200%;
}

.developer figure {
  display: flex;
  justify-content: center;
}

.developer figure img {
  width: 30px;
  margin: 10px 5px;
}

.developer figure img:hover {
  width: 28px;
  padding: 1px;
}

.footer__derechos {
  background-color: var(--ColorObscuro);
  color: var(--ColorGris);
}

.footer__derechos p {
  font-size: small;
  line-height: 200%;
  width: 270px;
  text-align: center;
  padding: 10px 0;
  margin: 0 auto;
}
