@mixin homeAbout {
    .about {
        background-size: cover;
        color: var(--light);
        text-align: center;
        width: 100vw;

        .about_gradient {
            display: flex;
            align-items: center;
            justify-content: center;
            background: rgba(2, 1, 0, 0.74);
            backdrop-filter: blur(4px);
            width: 100%;

            .about_article {
                position: relative;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                width: 100%;
                max-width: 127rem;
                padding: 5rem 1rem;

                h1 {
                    font-size: 1.6rem;
                    font-weight: 600;
                }

                .about_logo {
                    width: 22rem;
                    margin: 2rem 0;
                }

                p {
                    width: 300px;
                    font-size: 1.4rem;
                    font-weight: 400;
                    line-height: 200%;
                    margin: 0 auto;
                }

                .about_btn {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;
                    margin: 0 1rem;
                    list-style: none;

                    font-size: 1.5rem;
                    color: var(--neutral);
                    background-color: transparent;
                    border: 1px solid var(--neutral);
                    border-radius: 3rem;

                    padding: 0.8rem 2rem;
                    margin: 2rem;
                    transition: 0.3s;

                    &:hover {
                        background-color: var(--neutral);
                        color: var(--neutralDark);
                        transition: 0.3s;
                    }
                }

                .about_social {
                    display: flex;
                    margin: 20px 0;

                    a {
                        text-decoration: none;
                        margin: 15px;

                        img {
                            width: 50px;
                            transition: 0.2s;

                            &:hover {
                                width: 46px;
                                padding: 2px;
                                transition: 0.2s;
                            }
                        }
                    }
                }
            }
        }
    }

    @media (min-width: 800px) {
        .about {
            .about_gradient {
                background: linear-gradient(90deg, rgba(2, 1, 0, 0) 34.9%, rgba(2, 1, 0, 0.596) 44.79%, rgba(2, 1, 0, 0.81) 56.77%);
                backdrop-filter: blur(2px);

                .about_article {
                    padding-left: 40%;
                    h1 {
                        margin-bottom: 30px;
                    }

                    .about_btn {
                        margin-top: 1rem;
                    }

                    .about_logo {
                        position: absolute;
                        top: 0px;
                        left: 15px;
                    }
                }
            }
        }
    }

    @media (min-width: 1024px) {
        .about .about_gradient .about_article {
            padding-top: 100px;
            padding-bottom: 100px;

            h1 {
                margin-bottom: 20px;
            }

            p {
                width: 430px;
            }
        }
    }

    @media (min-width: 1440px) {
        .about,
        .about .about_gradient,
        .about .about_gradient .about_article {
            height: 700px;
            padding-top: 0;
            padding-bottom: 0;

            h1,
            p {
                margin: 40px 0;
            }
        }
    }
}
