@import "../components/molecules/storeCarousel.scss";
@import "../components/atoms/storeCategory.scss";

@mixin storeStart {
    .start {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        max-width: 127rem;

        /* Estilos del banner */
        @include storeCarousel;

        .start_title {
            color: var(--neutralDark);
            font-size: 1.8rem;
            font-weight: 600;
            margin-top: 3rem;
        }

        .start_separator {
            margin: 20px;
            width: 250px;
            height: 4px;
            background-color: var(--neutral);
        }

        /* Estilos para el categorizador de productos */
        @include storeCategory;
    }

    @media (min-width: 800px) {
        .start {
            position: sticky;
            top: 12rem;
            align-items: flex-end;
            max-width: 24rem;
            border-right: 1px solid var(--darkNeutral);
            padding-right: 2rem;
            padding-left: 2rem;

            .start_title {
                margin-top: 0rem;
            }

            .start_separator {
                margin: 2rem 0;
                width: 100%;
                max-width: 15rem;
            }
        }
    }
}
