@import "../components/molecules/storeProduct.scss";

@mixin storeProducts {
    .products {
        display: grid;
        width: 90%;
        max-width: 137rem;
        align-items: stretch;
        justify-content: space-around;
        grid-template-columns: auto;

        @include storeProduct;
    }

    .exception {
        display: flex;
        align-items: center;
        justify-content: center;

        padding: 4rem;

        .spinner-border {
            width: 10vw;
            height: 10vw;
        }
    }

    @media (min-width: 600px) {
        .products {
            grid-template-columns: auto auto;
        }
    }

    @media (min-width: 1024px) {
        .products {
            grid-template-columns: auto auto auto;
        }
    }

    @media (min-width: 1440px) {
        .products {
            grid-template-columns: auto auto auto auto;
        }
    }
}
