
.main-contacto {
  justify-content: space-around;
}

.main-contacto {
  height: 600px;
  flex-direction: row;
}

.contacto-datos {
  width: 50vw;
}

.contacto-datos__title {
  width: 55vw;
  text-align: start;
}

.contacto-enviarMensaje {
  width: 40%;
}
