@import "../atoms/headerNavItem.scss";

@mixin headerCenter {
    .header_center {
        display: none;

        ion-icon {
            display: none;
        }

        .header_list {
            display: flex;
            align-items: center;
            justify-content: center;
            margin: 0;
            padding: 0;

            @include headerNavItem;
        }
    }

    @media (min-width: 600px) {
        .header_center {
            display: block;
        }
    }
}
