@mixin headerNavItem {
    .header_nav_item {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin: 0 1rem;
        list-style: none;

        &.active {
            font-size: 1.4rem;
            color: var(--neutralDark);
            background-color: transparent;
            border: 1px solid var(--neutralDark);
            border-radius: 3rem;

            padding: 0.8rem 2rem;
            transition: 0.3s;

            &:hover {
                background-color: var(--neutralDark);
                color: var(--light);
                transition: 0.3s;
            }
        }

        &.register {
            background-color: var(--primary);
            color: var(--light);
            border: 1px solid var(--primary);

            &:hover {
                background-color: var(--primaryHover);
                border: 1px solid var(--primaryHover);
                color: var(--light);
                transition: 0.3s;
            }
        }

        .header_nav_item_link {
            display: flex;
            align-items: center;
            justify-content: center;
            color: var(--dark);
            font-weight: 100;
            transition: 0.3s;
            text-decoration: none;

            &:hover {
                color: var(--primary);
                transition: 0.3s;
            }

            ion-icon {
                font-size: 2.6rem;
                color: var(--dark);
                transition: 0.3s;
                margin: auto auto;

                &:hover {
                    color: var(--primary);
                    cursor: pointer;
                    transition: 0.3s;
                }
            }

            h4 {
                margin: 0;
                padding: 0;
            }
        }

        .open_login {
            font-size: 2.6rem;
            color: var(--dark);
            transition: 0.3s;
            margin: auto auto;

            &:hover {
                color: var(--primary);
            }
        }
    }
}
