@import "../../components/atoms/logo.scss";
@import "../../components/StatisticsHeader.scss";
@import "../../components/DashboardGraphic.scss";
@import "../../components/DashboardTable.scss";

.dashboard {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0 26rem;
    padding-top: 0 !important;
    padding-bottom: 5rem;

    @include logo;

    .header_logo {
        align-self: flex-start;
        margin: 3rem;
        margin-bottom: 1rem;
    }

    @include statisticsHeader;

    @include dashboardGraphic;

    @include dashboardTable;
}
