:root {
    /* Paleta de colores */
    --primary: #bf3c1f;
    --primaryHover: #751610;

    --light: #f7f4ef;
    --dark: #281200;
    
    --neutralLight: #fff;
    --neutral: #d9d9d9;
    --neutralDark: #3b3e43;
}
