@import "_vars";
@import "./containers/loadingPage.scss";
@import "./containers/header.scss";
@import "./containers/footer.scss";
@import "./containers/headerModalLogin.scss";
@import "./containers/asideLeft.scss";

/* admin */

@import "./containers/asideRigthDashboard.scss";
@import "./containers/asideLeftDashboard.scss";

/* Fonts */

@font-face {
    font-family: "Gwyner";
    src: url("../assets/fonts/Gwyner-Regular.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

/* Default Stiles */

* {
    margin: 0;
    padding: 0;
    box-sizing: 0;
    font-family: "Roboto", sans-serif;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

html {
    scroll-behavior: smooth;
    scroll-padding-top: 75px;
    height: 100%;
    min-height: auto;
    font-size: 62.5%;

    body {
        display: flex;
        flex-direction: column;
        align-items: center;

        overflow-x: hidden;
        background-color: var(--light);

        font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
            "Helvetica Neue", sans-serif;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;

        &::-webkit-scrollbar {
            width: 7px;
        }

        &::-webkit-scrollbar-thumb {
            background-color: var(--neutralDark);
            border-radius: 5px;
            height: 70%;
        }

        #root {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-between;

            min-height: 100vh;
            width: 100%;

            @include loadingPage;
            @include header;
            @include footer;
            @include asideRigthDashboard;
            @include asideLeftDashboard;

            main {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: space-between;
                width: 100%;
                min-height: 100%;
                padding-top: 12rem;
            }
        }

        @include headerModalLogin;
        @include asideLeft;

        h1,
        h2,
        h3,
        h4,
        h5,
        h6 {
            margin: 0;
            padding: 0;
            line-height: normal;
        }

        p,
        a,
        li,
        button,
        ul {
            margin: 0;
            padding: 0;
            line-height: normal;
            text-decoration: none;
        }

        a:hover {
            text-decoration: none;
        }

        img {
            width: 100%;
            height: auto;
        }

        button {
            border: 0;
            background-color: transparent;
        }

        input:focus,
        textarea:focus,
        select:focus {
            outline: none;
        }
    }
}

.body {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    padding-bottom: 67.42rem;
}

.fade.modal.show {
    display: flex !important;
    align-items: center;
    justify-content: center;

    .modal-content {
        min-width: 40rem;
        border-radius: 20px;
    }
}

@media (min-width: 800px) {
    .body {
        padding-bottom: 28.6rem;
    }
}
