.presentacion {
  align-items: center;
  height: 80vh;
}

.presentacion__title {
  font-size: 4rem;
}

.presentacion__subTitle {
  font-size: 1rem;
}

.separador__presentacion {
  width: 280px;
}

.presentacion__text {
  font-size: 1rem;
}

.btn-presentacion {
  font-size: 1rem;
  height: 50px;
  width: 180px;
}

.presentacion__image {
  position: relative;
  top: 80px;
  display: block;
  margin-left: 80px;
}

.presentacion__image img {
  width: 400px;
}

.productos {
  flex-direction: row;
}

.separador__productos {
  width: 4px;
  height: 320px;
  margin: 0 30px;
}

.conocenos__gradient {
  background: linear-gradient(
    90deg,
    rgba(2, 1, 0, 0) 34.9%,
    rgba(2, 1, 0, 0.596) 44.79%,
    rgba(2, 1, 0, 0.81) 56.77%
  );
  backdrop-filter: blur(2px);
}

.conocenos__article {
  padding-left: 50vw;
}

.conocenos__article h1 {
  margin-bottom: 30px;
}

.conocenos__logo {
  position: absolute;
  top: 0px;
  left: 15px;
}

.footer__information {
  padding-top: 0;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

.footer__separador {
  width: 2px;
  height: 180px;
  margin: 30px;
}

.footer__derechos p {
  width: 100%;
}

/* Estilos para la pagina de registro */

.imgRegistro img {
  right: 400px;
}

/* Estilos para la pantalla Contacto */

.main-contacto {
  justify-content: space-around;
}

.main-contacto {
  height: 600px;
  flex-direction: row;
}

.contacto-datos {
  width: 50vw;
}

.contacto-datos__title {
  width: 55vw;
  text-align: start;
}

.contacto-enviarMensaje {
  width: 40%;
}
