/* Estilos para la pagina de registro */

.imgRegistro img {
  right: 400px;
}

/* Estilos para la pantalla Contacto */

.main-contacto {
  justify-content: space-around;
}

.main-contacto {
  height: 600px;
  flex-direction: row;
}

.contacto-datos {
  width: 50vw;
}

.contacto-datos__title {
  width: 55vw;
  text-align: start;
}

.contacto-enviarMensaje {
  width: 40%;
}
