main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding-top: 100px;
}

/* Estilos para la seccion de inicio */

.inicio {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

/* Estilos del banner */

.banner {
  display: none !important;
  width: 97%;
  height: 400px;
  animation: banner 10s infinite linear alternate;
  background-size: cover;
  background-position: center;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

@keyframes banner {
  0%,
  20% {
    background-image: url(../../../assets/imgBanners/banner1.png);
  }
  25%,
  45% {
    background-image: url(../../../assets/imgBanners/banner2.png);
  }
  50%,
  70% {
    background-image: url(../../../assets/imgBanners/banner1.png);
  }
  75%,
  100% {
    background-image: url(../../../assets/imgBanners/banner2.png);
  }
}

/* Estilos para el categorizador de productos */

.productosTitle {
  color: var(--ColorGrisObscuro);
  font-size: 1.2rem;
  font-weight: bold;
}

.inicio__separador {
  margin: 20px;
  width: 150px;
  height: 5px;
  background-color: var(--ColorGris);
}

.categories {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 60px;
  width: 90%;
  box-shadow: 0px 0px 10px var(--ColorGris);
}

.categories__li {
  height: 100%;
}

[class^="btn__categories"] {
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  color: var(--ColorGrisObscuro);
  background-color: var(--ColorClaro);
  height: 100%;
  width: 23vw;
  border: none;
}

[class^="btn__categories"]:hover {
  cursor: pointer;
  box-shadow: 0px 8px 16px #939393;
}

[class^="btn__categories"]:active {
  border: 1px solid var(--ColorNaranja);
}

.productos {
  display: grid;
  width: 90%;
  align-items: center;
  justify-content: space-around;
  grid-template-columns: auto;
}

.producto {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 260px;
  min-height: 450px;
  max-height: 600px;
  font-size: 1rem;
  text-align: center;
  border: 1px solid var(--ColorGris);
  border-radius: 10px;
  padding: 10px 20px;
  margin: 30px 0;
}

.producto:hover {
  box-shadow: 0px 0px 10px var(--ColorGris);
}

.producto * {
  margin: 10px 0;
}

.producto h1 {
  color: var(--ColorGrisObscuro);
  font-size: 1.2rem;
  font-weight: 400;
  align-self: flex-start;
}

.producto__cont__categoria-carrito {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.producto__categoria {
  align-self: flex-start;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 1rem;
  text-align: center;
  border: 1px solid var(--ColorGris);
  border-radius: 10px;
  padding: 5px 10px;
  margin: 5px 0;
}

.btn__producto__carrito {
  width: 3rem;
  height: 3rem;
  font-size: x-large;
  border-radius: 50%;
  border: 1px solid var(--ColorGris);
  background-color: var(--ColorClaro);
}

.btn__producto__carrito:hover {
  cursor: pointer;
  box-shadow: 0px 0px 10px var(--ColorGris);
  color: var(--ColorNaranja);
}

.producto p {
  align-self: flex-start;
  text-align: left;
}

.producto p strong {
  font-weight: 500;
  color: var(--ColorObscuro);
}

.producto_precio .precio {
  font-size: 1.3rem;
  color: var(--ColorGrisObscuro);
}

.producto__imagen {
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  width: 260px;
  height: 180px;
  border: 1px solid var(--ColorGris);
  border-radius: 10px;
}

.producto__imagen img {
  width: 100%;
}

.btn__producto {
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  font-size: 1.2rem;
  color: var(--ColorClaro);
  height: 50px;
  width: 180px;
  background-color: var(--ColorNaranja);
  border-radius: 5px;
  border: none;
}

.btn__producto:hover {
  cursor: pointer;
  background-color: #fc291a;
  box-shadow: 0px 0px 18px var(--ColorGris);
}

/* Estilos para boton de retornar */

.btn__return {
  position: fixed;
  bottom: 40px;
  right: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 4rem;
  height: 4rem;
  font-size: 2.5rem;
  background-color: var(--ColorClaro);
  color: var(--ColorNaranja);
  border: none;
  border-radius: 50%;
  box-shadow: 0px 0px 7px var(--ColorGrisObscuro);
}
