.banner {
  height: 500px;
}

.productosTitle {
  align-self: flex-start;
  margin-left: 50px;
  margin-top: 20px;
}

.inicio__separador {
  align-self: flex-start;
  margin-left: 50px;
  width: 100px;
}


