/* Estilos para el aside */

.aside-left-cerrado {
  position: fixed;
  text-align: center;
  top: 0;
  left: -120%;
  width: 100%;
  height: 100%;
  background-color: var(--ColorClaro);
  border-right: 1px solid var(--ColorGrisObscuro);
  transition: 0.5s;
  z-index: 1;
}

.aside-left-abierto {
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  text-align: center;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--ColorClaro);
  border-right: 1px solid var(--ColorGrisObscuro);
  transition: 0.5s;
  z-index: 1;
}

[class^="aside-left"] .nav-header__list {
  display: inline;
}

.separador-aside {
  height: 2px;
  width: 200px;
  background-color: var(--ColorGris);
}

.aside-left-cerrado section,
.aside-left-abierto section {
  margin: 15px 0;
}

.aside-left-cerrado section a,
.aside-left-abierto section a {
  display: flex;
  margin: 20px 0;
  font-weight: 100;
  color: var(--ColorGrisObscuro);
  transition: 0.2s;
}

.aside-left-cerrado section a:hover,
.aside-left-abierto section a:hover {
  color: var(--ColorNaranja);
  transition: 0.2s;
}

.aside-left-cerrado section a ion-icon,
.aside-left-abierto section a ion-icon {
  color: var(--ColorNaranja);
  margin-right: 10px;
  font-size: 20px;
}

.logo-aside .menu {
  position: absolute;
  left: 0;
  margin-left: 30px;
}

.logo-aside {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.social .social-div {
  display: flex;
  height: 50px;
  margin-right: 60%;
}

.social .social-div ion-icon {
  font-size: 24px;
  color: var(--ColorGrisObscuro);
  transition: 0.2s;
}

.social .social-div ion-icon:hover {
  color: var(--ColorNaranja);
  transition: 0.2s;
}

.about {
  display: none;
}

.separador-aside:nth-of-type(3) {
  display: none;
}

.derechos {
  font-size: 0.8rem;
}
