/* Estilos para el footer */
footer {
  width: 100%;
}

.footer__information {
  padding: 30px 30px 0px 30px;
  background-color: var(--ColorGrisObscuro);
  display: flex;
  flex-direction: column;
  align-items: center;
  color: var(--ColorClaro);
}

.footer__logo {
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer__logo img {
  width: 150px;
}

.footer__social {
  display: flex;
  justify-content: center;
}

.footer__social a {
  text-decoration: none;
}

.footer__social img {
  width: 25px;
  margin: 5px;
}

.footer__separador {
  width: 80vw;
  height: 4px;
  background-color: var(--ColorClaro);
  margin: 30px 0;
}

.footer__nav {
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer__nav ul {
  list-style: none;
  margin: 0 15px;
}

.footer__nav li {
  font-weight: 600;
  margin: 10px 0;
}

.footer__nav li a {
  text-decoration: none;
  color: var(--ColorClaro);
}

.footer__nav a:hover {
  color: var(--ColorGris);
}

.developer {
  text-align: center;
  margin: 20px 0;
}

.developer p b {
  font-weight: 600;
  line-height: 200%;
}

.developer figure {
  display: flex;
  justify-content: center;
}

.developer figure img {
  width: 30px;
  margin: 10px 5px;
}

.developer figure img:hover {
  width: 28px;
  padding: 1px;
}

.footer__derechos {
  background-color: var(--ColorObscuro);
  color: var(--ColorGris);
}

.footer__derechos p {
  font-size: small;
  line-height: 200%;
  width: 270px;
  text-align: center;
  padding: 10px 0;
  margin: 0 auto;
}
