/* Styles para el header */

header {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 80px;
  background-color: var(--ColorClaro);
  z-index: 1;
}

.header-left {
  display: flex;
  margin-left: 30px;
}

.menu {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 28px;
  height: 28px;
  cursor: pointer;
  transition: 0.2s;
}

.menu .menu__component {
  width: 10px;
  height: 10px;
  background-color: var(--ColorObscuro);
  border-radius: 3px;
  margin: 1px;
  transition: 0.2s;
}

.menu:hover .menu__component {
  width: 11px;
  height: 11px;
  transition: 0.2s;
}

.logo-header {
  text-decoration: none;
  display: flex;
  align-items: flex-end;
}

.logo-header__img {
  width: 34px;
  margin: 0 10px;
}

.logo-header__text {
  color: var(--ColorObscuro);
  font-family: "Gwyner";
}

.logo-header__text span {
  color: var(--ColorNaranja);
}

.nav-header-center {
  display: none;
}

.nav-header-center ul {
  display: flex;
  align-items: center;
}

.nav-header-center ul li {
  margin: 0 10px;
}

.nav-header-center ul li a {
  color: var(--ColorObscuro);
  font-weight: 100;
  transition: 0.2s;
}

.nav-header-center ul li a:hover {
  color: var(--ColorNaranja);
  transition: 0.2s;
}

.nav-header-rigth {
  margin-right: 30px;
}

.nav-header__list {
  display: flex;
}

.nav-header__list__item {
  list-style: none;
}

.nav-header__list__item a {
  text-decoration: none;
}

.nav-header__list__item ion-icon {
  font-size: 26px;
  margin-right: 10px;
  color: var(--ColorObscuro);
  transition: 0.2s;
}

.nav-header__list__item ion-icon:hover {
  color: var(--ColorNaranja);
  cursor: pointer;
  transition: 0.2s;
}
