.presentacion__image img {
  width: 500px;
}

.conponent-categoria {
  margin: 0 20px;
  width: 220px;
  height: 250px;
}

#casual {
  background-position: 0 -350px;
}

#formal {
  background-position: 0 -270px;
}

#deportivo {
  background-position: 0 -250px;
}

.productos {
  padding: 100px 0;
}

.separador__productos {
  margin: 0 100px;
}

.conocenos__article {
  padding-top: 100px;
  padding-bottom: 100px;
}

.conocenos__article h1 {
  margin-bottom: 20px;
}

.conocenos__article p {
  width: 430px;
}

